:root {
  --big-color: lightblue;
  --small-color: aqua;
}

* {
  /* text-decoration: none; */
  /* margin: 0px; */
}

.form {
  /* display: flex;
  flex-flow: column;
  align-content: center; */
}

.buttonWrapper {
  /* display: flex;
  flex-flow: column;
  align-items: center; */
}

.inputWrapper {
  /* display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem; */
}

.flexContainer {
  /* gap: 0.5rem;
  display: flex;
  flex-flow: column;
  max-width: 400px;
  border: black 2px solid;
  border-radius: 8px;
  padding: 6px;
  height: fit-content;
  align-items: center; */
}

.flexContainer p {
  /* text-align: center; */
}

h2 {
  word-wrap: break-word;
}

#blueSpan {
  color: blue;
}

#inline-v-block {
  /* border: 6px black solid; */
  /* border-radius: 6px; */
  /* background-color: #fff; */
  /* margin-top: 40px; */
}

.block a:hover {
  color: white;
}

#resizableForm {
  /* display: flex;
  flex-flow: row;
  gap: 20px; */
}

.resizableInputWrapper {
  /* display: flex;
  flex-flow: column wrap;
  margin: 8px; */
}

.resizableButtonWrapper {
  /* display: flex;
  flex-flow: column wrap;
  margin: 8px; */
}

#gridLayout {
  display: grid;
  grid-template:
    "header header"
    "hero hero"
    ". ivb"
    "div footer" 1fr / 1fr 1fr;
}

#gridLayout #blankDiv {
  grid-area: div;
}
#gridLayout #heroSection {
  grid-area: hero;
  padding: 4px;
  background-color: #f22;
  border: 2px black solid;
}

#gridLayout #inline-v-block {
  grid-area: ivb;
  background-color: #bb0;
  border: 2px black ridge;
}

#gridLayout > header {
  grid-area: header;
  background-color: #afa;
  border: 2px black solid;
}

#gridLayout > footer {
  grid-area: footer;
  background-color: #fff;
  border: 2px black solid;
}
.flexContainer {
  background-color: var(--big-color);
}
#navBar {
  /* background-color: #bbb;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.6rem;
  padding-right: 6px;
  justify-content: end;
  margin-top: 1rem;
  margin-bottom: 1rem; */
}
#heroSection {
  /* display: flex;
  flex-flow: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center; */
}

#smallerDiv {
  /* max-width: 200px;
  height: 400px; */
}
h2 {
  background-color: #fff;
  color: #000;
}
#colorH2::after {
  content: "light blue.";
}
